body {
    background: url('../pic2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .nameStyle {
    color: rgb(88, 85, 85);
    font-weight: bold;
    font-size: 30px;
    
  }

  .nav-link {
    color: white;
    margin-left: 100px;
    margin-right: 30px;
  }

  .nav-link.nav-link1{
    color: rgb(65, 64, 64);
    padding-left: 100px;

  }

  .nav-link.nav-link2{
    color: rgb(66, 64, 64);
    padding-left: 150px;

  }

  .nav-link.nav-link3{
    padding-left: 150px;
    padding-right: 150px;
    margin-right: 50px;

  }

  .container {
    position: relative;
  }

  .text {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 400px;
  }

  .text2 {
    position: absolute;
    top: 250px;
    left: 200px;
    width: 400px;
    height: 400px;
  }